* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background-color: #56ad84;
}

canvas {
  width: 40rem;
  height: 37rem;
  overflow: scroll;
  border-radius: 1rem;
  background-color: white;
}

section {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

ol {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: white;
}

button:hover {
  transform: scale(1.1);
}

#steps-section {
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mesh-section {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu {
  width: 50%;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#steps-canvas-container {
  width: 100%;
  overflow-x: scroll;
  border-radius: 1rem;
  scrollbar-width: none;
}

#vypis {
  height: 30%;
  font-weight: 400;
  font-size: 1.5rem;
  list-style-type: none;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas1 {
  width: 2000%;
  height: 5rem;
}

#save-name {
  height: 1.2rem;
}

#save {
  margin-left: 1rem;
  background-color: #72db6f;
}

#clear {
  background-color: #e46b4d;
}

#apply {
  background-color: rgb(55, 165, 216);
}

.inputs-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}
